/* General Styles */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  background-image: url(background.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-size: cover;
}

.main {
  width: 100%;
  background-color: rgba(8, 73, 40, 0.7);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Navbar Styles */
.navbar {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
}

.icon .logo {
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  font-family: "Pacifico", cursive;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu ul li {
  margin-right: 25px;
}

.menu ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s, transform 0.3s;
}

.menu ul li a:hover {
  color: #ff4d00;
  transform: scale(1.1);
}

/* Content Styles */
.container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
}

.content {
  background-color: #fff;
  opacity: 0.9;
  padding: 60px;
  border-radius: 15px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  width: 100%;
  text-align: center;
  animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.description h2 {
  color: #333;
  margin-bottom: 20px;
  font-size: 26px;
}

.description p {
  color: #666;
  font-size: 18px;
  line-height: 1.8;
}

/* Custom File Input Styles */
.input-form {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-form label {
  display: block;
  margin-bottom: 10px;
  color: #333;
  font-weight: bold;
}

.input-form input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-bottom: 15px;
}

.custom-file-upload:hover {
  background-color: #f0f0f0;
}

.input-form button {
  padding: 12px 25px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s, transform 0.3s;
}

.home_model_button {
  padding: 12px 25px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s, transform 0.3s;
}
.home_model_button a {
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
}

.input-form button:hover {
  background-color: #ff0088;
  transform: translateY(-2px);
}

/* Result and Image Preview */
.result {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

#imagePreview {
  margin-top: 25px;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
